.header {
    height: 80vh;
    background-image: url('https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?q=80&w=1448&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: 40%;
    background-repeat: no-repeat;

}

.card-img {
    height: 250px;
    object-fit: cover;
    
}